@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin responsive($breakpoint) {
	@if $breakpoint == mobile {
		@media (max-width: 768px) {
			@content;
		}
	} @else if $breakpoint == tablet {
		@media (max-width: 1024px) {
			@content;
		}
	} @else if $breakpoint == desktop {
		@media (min-width: 1025px) {
			@content;
		}
	}
}

.additional-content {
	border: 1px solid var(--gray-50);
	border-radius: 15px;
	padding: 13px 18px;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	gap: 12px;
	box-shadow: 0px 1px 2px 0px #0000001a;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	.additional-content-title {
		font-size: 15px;
		font-weight: 700;
		line-height: 22px;
		color: var(--slate-700);
	}
	.additional-content-details {
		display: flex;
		flex-direction: column;
		width: 271px;
		.additional-content-detail {
			display: flex;
			align-items: center;
			max-width: 352px;
			border-radius: 8px;
			padding: 6px 16px;
			gap: 16px;
			background-color: var(--gray-25);
			.icon-container {
				display: flex;
				align-items: center;
				gap: 8px;
			}
			.icon-container > img {
				width: 52px;
				height: 52px;
			}
			.icon-container > div {
				display: flex;
				flex-direction: column;
				gap: 2px;
				h3 {
					font-size: 12px;
					font-weight: 500;
					line-height: 13.5px;
					color: var(--gray-900);
				}
				p {
					font-size: 10px;
					font-weight: 500;
					line-height: 10px;
					color: var(--gray-500);
				}
			}
			& > .additional-content-title {
				font-weight: 400;
				font-size: 13px;
				line-height: 22px;
				color: var(--gray-900);
				border-left: 1px solid var(--gray-400);
				padding-left: 16px;
			}
		}
		.additional-content-description {
			font-weight: 400;
			font-size: 15px;
			line-height: 22px;
			color: var(--gray-700);
			max-height: 0;
			overflow-y: auto;
			transition:
				max-height 0.3s ease-in-out,
				margin-top 0.3s ease-in-out,
				opacity 0.3s ease-in-out;
			opacity: 0;

			&.show {
				margin-top: 20px;
				max-height: 500px;
				opacity: 1;
			}
		}
	}
}
